
html {
    background-color: #fff;
    color: #2f2f2f;
    height: 100%;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
}
body.spare #content {
    margin-left: 1em;
    padding-left: 4em;
}
body.spare .markdown {
    color: #2f2f2f;
}

#outer {
    min-height: 100%;
    min-width: 65em;
}

a {
    text-decoration: none;
    color: #3C73E2;
}
a:hover {
    text-decoration: underline;
}

.section.spares .spare {
    font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.3em 0 0.4em 0;
}

.section {
    padding-left: 0.5em;
    margin: 1em 0;
}

#content {
    position: absolute;
    left: 14.5em;
    right: 0;
    padding: 0 2em 3em 2em;
    display: inline-block;
    text-align: left;
    border-left: 1px solid #D6D6D6;
}

#header {
    min-width: 18em;
    font-size: 210%;
    text-align: left;
    padding: 0.2em 0 0.2em 0.7em;
    color: #C813B1;
    border-bottom: 1px solid #D6D6D6;
    background-color: #F2F2F2;
    box-shadow: 0 -0.3em 0.3em 0.3em #D8D8D8;
}
#header .star {
    font-size: inherit;
}

.delimiter {
    margin: 0 0.1em;
}

.ctype {
    color: #619327;
}

.children {
}

.source, .default {
    color: #939393;
    font-size: 90%;
    margin: 0.1em 0 0 0.4em;
}

#header .source {
    font-size: 75%;
}

#header .source.file, #header .source.remote {
    font-size: 50%;
}

.sourceLine {
    color: #63B0DB;
    font-size: 90%;
}

.default .value {
    color: #000;
    font-size: 120%;
}

.info h2 {
    font-size: 1em;
}

.breadcrumbs .delimiter {
}

.breadcrumbs .delimiter:first-child {
    display: none;
}

.markdown {
    font-size: 115%;
    font-family: georgia, serif;
    color: #454545;
    margin-top: 1em;
}
.markdown:empty {
    display: none;
}
.markdown:first-child {
    margin-top: 0;
}

p {
    max-width: 27em;
    padding: 0.5em;
    padding-left: 0;
    margin: 0.5em 0;
}

#TOC {
    display: inline-block;
    float: left;
    padding: 0 0.75em 5em 0.75em;
    width: 13em;
}
#TOC.reveal {
    position: fixed;
    top: 1.5em;
    left: 1.5em;
    box-shadow: 0 0 4em 1em #C6C8C4;
    background-color: #fff;
}
#TOC h3 {
    margin: 0 0 0.2em 0;
}
#TOC h4 {
    margin: 0.33em 0 0 -0.5em;
}
#TOC h4 a {
    text-decoration: none;
}
#TOC a.inherited {
    color: #73B2E0;

}
#TOC .section {
    padding: 0 0 0 1em;
}

.clear {
    clear: both;
}

.child {
    padding-top: 2em;
    min-height: 1.6em;
    margin-top: -1.4em;
    transition:         border-color 0.5s linear, box-shadow 0.5s linear, background-color 0.5s linear;
    -webkit-transition: border-color 0.5s linear, box-shadow 0.5s linear, background-color 0.5s linear;
    -moz-transition:    border-color 0.5s linear, box-shadow 0.5s linear, background-color 0.5s linear;
    -o-transition:      border-color 0.5s linear, box-shadow 0.5s linear, background-color 0.5s linear;
}

.child:first-child {
    margin-top: -2em;
}

.child.callback {
}

.child .child {
    margin-bottom: 0.6em;
}

.child.named {
    margin-bottom: 0.4em;
    background-color: #E5F9CC;
}

.info {
    margin: 0.1em 0 0 0;
    padding: 0 0 0 1.5em;
    border-left: 2px solid #E5E5E5;
    background-color: #fff;
}
.child:target {
    /*background-color: #FFEAFC;*/
    /*box-shadow: -0.5em 0.5em 1em -0.4em #FFEAFC;*/
}
.child:target > .info {
    border-color: #FFEAFC;
}

#details {
    padding: 1em 0 1em 0;
    border-bottom: 2px solid #E5E5E5;
}

#details p {
    max-width: 37em;
}

#details:empty {
    display: none;
}

.valtype {
    text-decoration: none;
    font-size: 85%;
    color: #5F87BA;
    font-weight:100;
}

.valsep {
    font-size: 130%
}
/* skip terminal pipes for valtype lists */
.valsep:first-child {
    display: none;
}
.valsep:last-child {
    display: none;
}
.symbol .title .valsep {
    display: inline !important;
    font-weight: 700;
}
.punctuation {
    color: #E837D2;
    font-weight: 300;
}
.signature {
    color: #C813B1;
    font-weight: 700;
    margin: 0;
    padding-left: 0.3em;
}
.signature.inherited {

}
.child > .signature {
    font-size: 120%;
}
.child .child .signature {
    font-size: inherit;
}
.signature .arguments {
    display: inline-block;
}
.signature .argument {
    display: inline-block;
    /*margin-left: 2em;*/
    font-size: 90%;
}

.title.fake, .child .title.fake {
    font-size: 90%;
    font-weight: 100;
}

.child .argument > .title {
    font-weight: 300;
    font-size: 110%
}

.child .child .argument > .title {
    font-weight: 700;
}
h1.signature .argument, h2.signature .argument {
    display: block;
    margin-left: 1em;
    font-size: 80%;
}
h1.signature, h1.signature {
    margin-top: 0.7em;
}

.optionBracket {
    color: #D25FC3;
    font-weight: 300;
}

.star {
    font-size: 130%;
    line-height: 0.1em;
}

.argument .arguments {
    padding-left: 0.75em;
}

.child .title {
    font-weight: 900;
}

.title img {
    height: 1em;
}

.comma {
    font-size: 130%;
    line-height: 0.1em;
    margin: 0 0.1em 0 -0.1em;
}
/* hide comma after final argument */
*:last-of-type > .comma {
    display: none;
}

.flag {
    display: inline-block;
    font-size: 90%;
}

.child.throws {
    background-color: #FFFFC8;
    padding-left: 0.5em;
    border-radius: 0.5em;
    border-left: 2px solid #FFEE42;
}

.secondarySig {
    border-left: 2px solid #9CB3E2;
    padding: 0 0 0 0.5em;
    margin: 1em 0 1em -0.5em;
    background-color: #ECF2FF;
    border-radius: 0.5em;
}

#footer {
    padding: 0.2em 1em;
    font-size: 80%;
    color: #505050;
    border-top: 1px solid #bdbdbd;
    background-color: #e6e6e6;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 1em 1em 1em #0000002e;
}

#footer .date {
    color: #1B1B1B;
}

#footer .time {
    color: #1B1B1B;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown th {
    font-family: sans-serif;
    margin: 1.5em 0 0.3em 0;
}

.markdown a code {
    color: #476EBE;
}

.markdown code {
    padding: 0 0.4em;
    background-color: #F1F1F5;
    border: 1px solid #E5E6E8;
    border-radius: 3px;
    color: #000;
    display: inline-block;
}

.markdown pre {
    padding: 0.7em;
    background-color: #F5F5FF;
    border-left: 3px solid #E7E7F9;
    overflow: auto;
}

.markdown pre code {
    padding: 0;
    background-color: transparent;
    border: none;
}

.markdown > *:first-child {
    margin-top: 0;
}

.markdown table {
    border-collapse: collapse;
    border-bottom: 1px solid #eee;
}

.markdown tr:nth-child(even) {
    background-color: #F2F2F9;
}

.markdown td, .markdown th {
    padding: 0.4em 0.5em 0.3em 0.5em;
}

.markdown td {
    border-left: 1px solid #eee;
}

.markdown thead {
    background-color: #F2F2F9;
}

.secondarySig .info {
    border: none;
    margin-top: 0.2em;
    margin-left: -0.5em;
    padding-left: 2em;
}

.child.throws .info {
    border: none;
    margin-left: -0.5em;
    padding-left: 2em;
}

h1 .types {
    font-size: 80%;
}
