
html {
    background-color: #fff;
    color: #2f2f2f;
}

body {
    padding: 0 0 0 1em;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color:#4264AA;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.3em 0 0.4em 0;
}

.section {
    padding-left: 1em;
}

#content {
    margin: auto;
    /* width: 48em; */
    padding: 1em 2em 10em 2em;
    display: inline-block;
    text-align: left;
    border-top: 1px solid #D6D6D6;
}

#header {
    display: inline-block;
    min-width: 18em;
    font-size: 210%;
    text-align: left;
    margin: 0.5em 0 0.5em 0;
    padding-left: 1em;
}

.ctype {
    color: #7FBC38;
}

.child .ctype {
    color: #376902;
}

.children {
    display: inline-block;
}

.source {
    color: #5E6B52;

    font-size: 90%;
    margin: 0.2em 0 0.3em 0.3em;
}

.info h2 {
    font-size: 1em;
}

.breadcrumbs .delimiter:first-child {
    display: none;
}

.markdown {
    font-size: 115%;
    font-family: georgia, serif;
    color: #2F2F2F;
}
.markdown:empty {
    display: none;
}

p {
    max-width: 27em;
    padding: 0.5em;
    padding-left: 0;
    margin: 0.5em 0;
}

#TOC {
    display: inline-block;
    float: left;
    padding: 0.7em 1em 1em 1em;
    border: 0.1em solid #D8D8D8;
    border-radius: 0.2em;
    margin-right: 2em;
}
#TOC h3 {
    margin: 0 0 0.2em 0;
}
#TOC h4 {
    margin: 0.33em 0 0 -0.5em;
}
#TOC h4 a {
    text-decoration: none;
}
#TOC .section {
    padding: 0 0 0 1em;
}

.clear {
    clear: both;
}

.child {
    padding: 0.5em 2.3em 2px 1.3em;
    margin-bottom: 1.5em;
    background-color: #C6F292;
    border-radius: 0.5em;
}

.child .child {
    background-color: #E4FFC7;
    margin-bottom: 0.6em;
}

.child.named {
    margin-bottom: 0.4em;
    background-color: #E5F9CC;
}

.info {
    background-color: #fff;
    border-radius: 0.7em 0 0.7em 0;
    margin: 0.3em -2.3em 0 -1.3em;
    padding: 1px 1em;
    /* overflow: auto; */
}

#details {
    border-bottom: 0.1em solid #E0E0E0;
    margin-bottom: 1em;
    padding-bottom: 3em;
}

#details p {
    max-width: 37em;
}

.valtype {
    text-decoration: none;
    font-size: 85%;
    color: #5F87BA;
    font-weight:100;
}
.valsep {
    color: #C813B1;
}
/* skip terminal pipes for valtype lists */
.valsep:first-child {
    display: none;
}
.valsep:last-child {
    display: none;
}

.signature {
    color: #C813B1;
    font-weight: 700;
}
.signature .arguments {
    display: inline-block;
}
.signature .argument {
    display: inline-block;
}

.argument .arguments {
    padding-left: 0.75em;
}

.child .title {
    font-weight: 900;
}

.comma {
    font-size: 150%
}
/* hide comma after final argument */
*:last-child > .comma {
    display: none;
}

.tail {
}
