
html {
    background-color: #fff;
    color: #2f2f2f;
    height: 100%;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
}

#outer {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #476EBE;
}
a:hover {
    text-decoration: underline;
}

.section.spares .spare {
    font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.3em 0 0.4em 0;
}

.section {
    padding-left: 0.5em;
    margin: 1em 0;
}

#content {
    margin: auto;
    min-width: 33em;
    padding: 0.3em 2em 3em 2em;
    display: inline-block;
    text-align: left;
}

#header {
    /* display: inline-block; */
    min-width: 18em;
    font-size: 210%;
    text-align: left;
    padding: 0.5em 0 0.5em 0.7em;
    color: #C813B1;
    border-bottom: 1px solid #D6D6D6;
    background-color: #F2F2F2;
}
#header .star {
    font-size: inherit;
}

.delimiter {
    margin: 0 0.1em;
}

.ctype {
    color: #619327;
}

.children {
}

.source {
    color: #939393;
    font-size: 90%;
    margin: 0.1em 0 0 0.4em;
}

.info h2 {
    font-size: 1em;
}

.breadcrumbs .delimiter {
}

.breadcrumbs .delimiter:first-child {
    display: none;
}

.markdown {
    font-size: 115%;
    font-family: georgia, serif;
    color: #454545;
}
.markdown:empty {
    display: none;
}

p {
    max-width: 27em;
    padding: 0.5em;
    padding-left: 0;
    margin: 0.5em 0;
}

#TOC {
    display: inline-block;
    float: left;
    padding: 0.7em 1em 1em 1em;
    border: 0.1em solid #D8D8D8;
    border-radius: 0.2em;
    margin: 0.2em 1.2em 1em 0;
}
#TOC.reveal {
    position: fixed;
    top: 1.5em;
    left: 1.5em;
    box-shadow: 0 0 4em 1em #C6C8C4;
    background-color: #fff;
}
#TOC h3 {
    margin: 0 0 0.2em 0;
}
#TOC h4 {
    margin: 0.33em 0 0 -0.5em;
}
#TOC h4 a {
    text-decoration: none;
}
#TOC .section {
    padding: 0 0 0 1em;
}

.clear {
    clear: both;
}

.child {
    margin-bottom: 2em;
    border-radius: 0 0 1em 0;
    min-height: 2em;
}
.child.callback {
}

.child .child {
    margin-bottom: 0.6em;
}

.child.named {
    margin-bottom: 0.4em;
    background-color: #E5F9CC;
}

.info {
    margin: 0 0 0 0;
    padding: 0 0 0 1.5em;
    border-left: 2px solid #E5E5E5;
    background-color: #fff;
}
.child:target > .info {
    border-color: #E5AFDE;
    box-shadow: -0.5em 0 1em -0.5em #E5AFDE;
    transition:         border-color 0.5s linear, box-shadow 0.5s linear;
    -webkit-transition: border-color 0.5s linear, box-shadow 0.5s linear;
    -moz-transition:    border-color 0.5s linear, box-shadow 0.5s linear;
    -o-transition:      border-color 0.5s linear, box-shadow 0.5s linear;
}

#details {
    margin: 1em 0 0 0;
    padding: 0 0 1.5em 0;
    margin: 0 0 1.5em 0;
    border-bottom: 2px solid #E5E5E5;
}

#details p {
    max-width: 37em;
}

.valtype {
    text-decoration: none;
    font-size: 85%;
    color: #5F87BA;
    font-weight:100;
}

.valsep {
    font-size: 130%
}
/* skip terminal pipes for valtype lists */
.valsep:first-child {
    display: none;
}
.valsep:last-child {
    display: none;
}

.signature {
    color: #C813B1;
    font-weight: 700;
    margin: 0;
}
.child .signature {
    font-size: 110%;
}
.child .child .signature {
    font-size: inherit;
}
.signature .arguments {
    display: inline-block;
}
.signature .argument {
    display: inline-block;
}

.star {
    font-size: 130%;
    line-height: 0.1em;
}

.argument .arguments {
    padding-left: 0.75em;
}

.child .title {
    font-weight: 900;
}

.comma {
    font-size: 130%;
    line-height: 0.1em;
}
/* hide comma after final argument */
*:last-child > .comma {
    display: none;
}

.flag {
    display: inline-block;
    font-size: 90%;
}

.child.throws {
    background-color: #FFFFC8;
    padding-left: 0.5em;
    border-radius: 0.5em;
    border-left: 2px solid #FFEE42;
}

.secondarySig {
    border-left: 2px solid #9CB3E2;
    padding: 0 0 0 0.5em;
    margin: 1em 0 1em -0.5em;
    background-color: #ECF2FF;
    border-radius: 0.5em;
}

#footer {
    padding: 0.8em 0 0.6em 1em;
    font-size: 80%;
    color: #6F6F6F;
    border-top: 1px solid #DADADA;
    background-color: #F2F2F2;
}

#footer .date {
    color: #1B1B1B;
}

#footer .time {
    color: #1B1B1B;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown th {
    font-family: sans-serif;
    margin: 1.5em 0 0.3em 0;
}

.markdown a code {
    color: #476EBE;
}

.markdown code {
    padding: 0 0.4em;
    background-color: #F1F1F5;
    border: 1px solid #E5E6E8;
    border-radius: 3px;
    color: #000;
    display: inline-block;
}

.markdown pre {
    padding: 0.7em;
    background-color: #F5F5FF;
    border-left: 3px solid #E7E7F9;
}

.markdown pre code {
    padding: 0;
    background-color: transparent;
    border: none;
}

.markdown > *:first-child {
    margin-top: 0;
}

.markdown table {
    border-collapse: collapse;
    border-bottom: 1px solid #eee;
}

.markdown tr:nth-child(even) {
    background-color: #F2F2F9;
}

.markdown td, .markdown th {
    padding: 0.4em 0.5em 0.3em 0.5em;
}

.markdown td {
    border-left: 1px solid #eee;
}

.markdown thead {
    background-color: #F2F2F9;
}

.secondarySig .info {
    border: none;
    margin-top: 0.2em;
    margin-left: -0.5em;
    padding-left: 2em;
}

.child.throws .info {
    border: none;
    margin-left: -0.5em;
    padding-left: 2em;
}
